CSVEX_BASIC_USER=
CSVEX_BASIC_PASSWORD=
POSTGRES_DB=stock_analytics
POSTGRES_USER=stock
POSTGRES_PASSWORD=stock
POSTGRES_PORT=5432
X_API_KEY=
X_API_KEY_SECRET=
X_ACCESS_TOKEN=
X_ACCESS_TOKEN_SECRET=
X_BEARER_TOKEN=
X_COLLECT_INTERVAL_SECONDS=3600
